/* Add this to your SCSS file */

.roll-down {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-in-out;
  }
  
  .roll-down.show {
    max-height: 1000px; /* Adjust as needed based on content size */
    padding: 10px 0;
  }
  