.login-form-container {
    margin-top: 50px;
  }
  
  .login-form {
    background-color: #f0f8ff; // Light blue background
    border: 1px solid #d1e7ff; // Light blue border
  }
  
  .login-form .form-control {
    border-radius: 5px; // Rounded corners for input fields
  }
  
  .login-form .btn-primary {
    background-color: rgb(80, 144, 255); // Updated button background color
    border-color: rgb(80, 144, 255); // Updated button border color
  }
  
  .login-form .btn-primary:hover {
    background-color: #0056b3; // Darker blue on hover
    border-color: #0056b3; // Darker blue border on hover
  }