body {
  font-family: Lato, sans-serif;
}

.container {
  margin-top: 20px;
}
.btn-view-details {
  background-color: rgb(80, 144, 255); // Updated button background color
  border-color: rgb(80, 144, 255); // Updated button border color
  border-radius: 5px; // Rounded corners
  &:hover {
    background-color: #0056b3; // Darker blue on hover
    border-color: #0056b3; // Darker blue border on hover
  }
}

.btn-delete {
  background-color: rgb(255, 80, 80); // Red background color
  border-color: rgb(255, 80, 80); // Red border color
  border-radius: 5px; // Rounded corners
  &:hover {
    background-color: #b30000; // Darker red on hover
    border-color: #b30000; // Darker red border on hover
  }
}
.patient-card {
  transition: transform 0.2s, box-shadow 0.2s, border-color 0.2s;
  border: 1px solid #ddd;
  &:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 255, 0.2);
    border-color: #007bff; /* More prominent blue color */
  }
}

.patient-info {
  background-color: #f8f9fa;
  border: 1px solid #ddd;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
  transition: transform 0.2s, box-shadow 0.2s, border-color 0.2s;

  &:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 255, 0.2);
    border-color: #007bff; /* More prominent blue color */
  }
}

.conditions-section {
  background-color: white;
  border: 1px solid #ddd;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  border-radius: 10px;
}

@keyframes slideInLeft {
  from {
    transform: translateX(-10%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInRight {
  from {
    transform: translateX(10%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.animate-left {
  animation: slideInLeft 0.4s ease-out;
}

.animate-right {
  animation: slideInRight 0.4s ease-out;
}